# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\lyuzheng\Documents\work\0Lyu\Research\Code\DeepL\2024_11_submit\ResNet_50_Classification\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
